* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: black;
}

nav {
  width: 100vw;
  text-align: end;
  color: white;
  padding: 10px;
}

main {
  width: 1350px;
  min-height: 600px;
  margin: 0 auto;
  border: 2px solid white;
}

.pic {
  width: calc(100% / 7);
  height: 115px;
  border: 1px dashed white;
}
