* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: black;
}

/* HEADER */

nav {
  width: 100vw;
  text-align: end;
  color: white;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 3px;
  background-color: #4a4a4a;
  font-size: 11px;
  border-radius: 2px;
}

.nav-icon {
  font-size: 12px;
  padding: 3px;
  background-color: #4a4a4a;
  color: white;
  border-radius: 2px;
}

/* main */

main {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 1350px;
  min-height: 600px;
  margin: 0 auto;
  border: 2px solid white;
}

.pic {
  width: calc(100% / 7 - 10px);
  height: 115px;
  margin: 5px;
  border: 1px dashed white;
  background-image: url(https://picsum.photos/seed/picsum/180/130);
  background-size: cover;
  position: relative;
}

main span {
  color: white;
  padding: 3px 6px;
  background-color: rgba(128, 128, 128, 0.5);
  position: absolute;
  bottom: 0;
  font-size: 12px;
}

footer {
  width: 100sw;
  height: 70px;
  background-color: #222222;
  margin-top: 30px;
  color: white;

  display: flex;
  justify-content: space-between;
}

.f-box1 {
  height: 50px;
  min-width: 150px;
  border: 1px solid white;
}

.f-box2 {
  height: 50px;
  min-width: 600px;
  border: 1px solid white;
}
.f-box3 {
  height: 50px;
  min-width: 150px;
  border: 1px solid white;
}

.icon,
.action,
.arrow {
  border: 1px dashed white;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* .arrow {
  display: inline;
  text-align: center;
} */
